In [1]:
import pandas as pd
import numpy as np

In [4]:
df= pd.read_csv('Datasets/2_ev_charging_station_dataset.csv')

In [5]:
df.head()

,"The number of electric vehicles currently being used on the roads of India, State wise as on\n\n14-07-2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Sr. No.,State Name,Total Electric Vehicle,Total Non-Electric Vehicle,Total
1,1,Andaman & Nicobar Island,162,146945,147107
2,2,Arunachal Pradesh,20,252965,252985
3,3,Assam,64766,4677053,4741819
4,4,Bihar,83335,10407078,10490413